 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>键盘鼠标</title>
</head>
<body>
    <a id="haha" href="http://localhost:8080/dnf/clickLeftMouse"  >鼠标左键快速连续点击</a><br/>
    <a href="http://localhost:8080/lol/clickRightMouse" >鼠标右键1分钟换位置点一次</a><br/>
    <a href="http://localhost:8080/dnf/clickRightMouse" >鼠标右键空格快速连续点击</a><br/>
    <a href="http://localhost:8080/dnf/click6_SPACE" >6和空格快速连续点击</a><br/>
    <a href="http://localhost:8080/stop">停止执行</a>
</body>
<script type="text/javascript">
    /*function clickT() {

    }*/
</script>
</html>